---
import { supabase } from "@/lib/supabase";
import ThumbnailUploader from "@/components/ThumbnailUploader";
import Layout from "@/layouts/Layout.astro";
import EditorPage from "@/components/Editor";

let id = Astro.url.searchParams.get("id");
let tr = Astro.url.searchParams.get("tr");

const { data: userData, error: userError } = await supabase.auth.getUser();
const userId = userData.user?.id;

let title: string = '';
let desc: string = '';
let thumb: string | null = null;
let content: JSON | null = null;

if (!userId) {
  return Astro.redirect("/");
}

if (id) {
  const { data, error } = await supabase
    .from("draft")
    .select("*")
    .eq("id", id)
    .eq("author", userId);

  if (error) {
    Astro.redirect("/dashboard");
  }

  if (data && data.length > 0) {
    title = data[0].title || '';
    desc = data[0].desc || '';
    thumb = data[0].thumb || null;
    content = data[0].content_json ? JSON.parse(data[0].content_json) : null;
  }
} else if (tr) {
  const { data: trData, error: trError } = await supabase
    .from("draft")
    .select("title, desc, thumb, content_json")
    .eq("id", tr);

  if (trError) {
    console.error(trError);
  }

  const insertPayload = {
    updated_at: new Date().toISOString(),
    author: userId,
    title: trData && trData.length > 0 ? `${trData[0].title}` : '',
    desc: trData && trData.length > 0 ? trData[0].desc : '',
    thumb: trData && trData.length > 0 ? trData[0].thumb : null,
    content_json:
      trData && trData.length > 0 ? trData[0].content_json : null,
  };

  const { data: newDraft, error: insertError } = await supabase
    .from("draft")
    .insert(insertPayload)
    .select("id");

  if (insertError) {
    console.error(insertError);
  }

  if (newDraft && newDraft.length > 0) {
    return Astro.redirect(`/draft/editor?id=${newDraft[0].id}`);
  }
} else {
  const { data, error } = await supabase
    .from("draft")
    .insert({ updated_at: new Date().toISOString(), author: userId })
    .select("id");

  if (error) {
    console.error(error);
  }

  if (data && data.length > 0) {
    return Astro.redirect(`/draft/editor?id=${data[0].id}`);
  }
}

---
<Layout>
  <div class="lg:max-w-screen-md mx-auto overflow-hidden overflow-x-hidden">
    <h1 class="text-2xl md:text-4xl font-bold p-2">Editor Page</h1>
    <p class="text-sm text-text-secondary p-2">
      This is the editor page where you can create and edit content.
    </p>
    <ThumbnailUploader client:only initialUrl={thumb} />
    <EditorPage client:only savedContent={content} />

  </div>
</Layout>
