---
import { supabase } from "@/lib/supabase"
import OptimizedImage from "./OptimizedImage.astro";
import { iconMap } from "@/lib/blogs/icons";
import Icon from "node_modules/@lucide/astro/src/Icon.astro";

const { data: mainArticle } = await supabase
  .from("draft")
  .select("*")
  .eq("status", "public")
  .order("created_at", { ascending: false })
  .limit(1)
  .single();


let { data: smallArticles } = await supabase
  .from("draft")
  .select("*")
  .eq("status", "public")
  .order("created_at", { ascending: false })
  .range(1, 3);

const { data: categories } = await supabase
  .from("categories").select("*");

---

{(mainArticle || (smallArticles && smallArticles.length > 0)) && (
    <h1 class="text-start">What's New</h1>
  <section class="grid grid-cols-1 lg:grid-cols-12 gap-6 py-8">
    {mainArticle && ( 
      <a 
        href={`/b/${mainArticle.category}/${mainArticle.slug}`} 
        class="relative text-start group lg:col-span-5 rounded-xl overflow-hidden shadow-lg"
      >
        <OptimizedImage
          src={mainArticle.thumb} 
          alt={mainArticle.slug} 
          class=" aspect-video" 
        />
        <div class="absolute inset-0 bg-gradient-to-t text-bg-primary from-text-primary/70 via-text-primary/30 to-transparent p-6 flex flex-col justify-end">
          <p class="text-xl md:text-2xl font-bold text-bg-primary group-hover:text-blue-400 transition">
            {mainArticle.title}
          </p>
        </div>
      </a>
    )}
    
    {smallArticles && smallArticles.length > 0 && (
      <div class="lg:col-span-5 flex flex-col gap-4">
        {smallArticles.map((article) => (
          <a 
            href={`/b/${article.category}/${article.slug}`} 
            class="flex gap-3 text-start rounded-lg overflow-hidden transition"
          >
            <OptimizedImage
              src={article.thumb}
              alt={article.slug}
              class="min-w-32 h-20"
            />
            <div>
              <h3 class="text-sm font-semibold text-text-primary  line-clamp-2">
                {article.title}
              </h3>
              {article.desc && (
                <p class="mt-1 text-xs text-text-secondary line-clamp-3 text-wrap">
                  {article.desc}
                </p>
              )}
            </div>
          </a>
        ))}
      </div>
    )}

    {categories && categories.length > 0 && (
      <div class="text-start p-2 flex gap-2 flex-col w-full lg:col-span-2 rounded-xl shadow-md">
        <h3>Categories</h3>
        <ul>
          {categories.map((cat) => (
            
            <li>
              <a 
                href={`/b/${cat.slug}`} 
                class=" w-full"
              >
               <p> {cat.title}</p>
              </a>
            </li>
          ))}
        </ul>
      </div>
    )}

    
  </section>
)}
