---
import "../styles/global.css";
import Toasts from "@/components/universal/Toasts";
import Loading from "@/components/universal/Loading";
import BreadCrumbs from "@/components/universal/BreadCrumbs.astro";
import Footer from "@/components/universal/Footer.astro";
import TopBar from "@/components/universal/TopBar.astro";
import Cookie from "@/components/universal/Cookie.astro";


const cookies = Astro.cookies.get('theme')?.value ||  "light";
const theme = cookies === 'dark' ? 'dark' : 'light';

const LOGO = import.meta.env.LOGO || "/logo.ico";

const {
  title = "Home",
  desc = "We are building the best blogging plpatform right here now!",
  keywords = "blog,EchoPage, EchoBlog, blogging, platform",
  img = LOGO,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme={theme} class="bg-bg-primary text-text-primary">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href={LOGO} />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {import.meta.env.NAME}</title>
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={img} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:image" content={img} />
    <meta name="twitter:site" content="@IamSandoPhilip" />
    <meta name="twitter:creator" content="@IamSandoPhilip" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta name="google-adsense-account" content={import.meta.env.ADSENSE_ID} />
    <script
      async
      custom-element="amp-auto-ads"
      src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
    <script
      async
      src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${import.meta.env.ADSENSE_ID}`}
      crossorigin="anonymous"></script>
  </head>
  <body>
    <amp-auto-ads type="adsense" data-ad-client={import.meta.env.ADSENSE_ID}
    ></amp-auto-ads>
    <TopBar />
    <div class="w-full h-12"></div>
    <Toasts client:load/>
    <Loading client:load/>
    <Cookie/>
    <BreadCrumbs />
    <slot />
    <Footer/>
  </body>
</html>
